#appContainer {
    -fx-background-color: #464646;
}

#buttonContainer {
    -fx-background-color: #314ba2;
    -fx-padding: 30px;
    -fx-padding-top: 50px;
}

#topContainer {
    -fx-background-color: #464646;
}

#tittleBox {
    -fx-padding: 10px 0 0 15px;
}

#appTitle {
    -fx-padding: 20px;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: verdana;
    -fx-font-size: 14px;
}

#tabPane .filler {
    -fx-background-color: #464646;
    -fx-padding: 30px;
    -fx-padding-top: 50px;
}